body {
  background-color: #f4f4f4;
  color: rgb(70, 53, 53);

  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: initial;

  line-height: 1.6em;
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
}

.button {
  background-color: #333333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.clr {
  clear: both;
}

.profile {
  background-color: #333333;
  color: #fff;

  border: 5px yellowgreen solid;
  border-width: 10px;
  border-bottom-width: 2px;
  border-top-style: double;

  padding: 49px;
  margin: 20px 0;
}

.profile h1 {
  font-weight: 800;
  font-style: italic;
  text-decoration: unset;
  text-transform: uppercase;
}

.passion {
  border: 3px dotted#ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orangered;
}

a:active {
  color: green;
}

a:visited {
  color: grey;
}

.categories li {
  padding-bottom: 8px;
  border-bottom: dotted 1px #333;
  list-style-image: url('../../images/check.png');
}

.my-form {
  padding: 20px;
}
.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type='text'],
.my-form textarea {
  padding: 8px;
  width: 100%;
}

.block {
  float: left;
  width: 33.3%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background-color: #333333;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}
