body {
  background-color: #f4f4f4;
  color: rgb(218, 106, 106);

  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;

  line-height: 1.6em;
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
}

.profile {
  background-color: #333333;
  color: #fff;

  border: 5px yellowgreen solid;
  border-width: 10px;
  border-bottom-width: 2px;
  border-top-style: double;

  padding: 49px;
  margin: 20px 0;
}

.profile h1 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 800;
  font-style: italic;
  text-decoration: unset;
  text-transform: uppercase;
}

.passion {
  border: 3px dotted#ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orangered;
}

a:active {
  color: green;
}

a:visited {
  color: grey;
}

.categories li {
  padding-bottom: 8px;
  border-bottom: dotted 1px #333;
  list-style-image: url('../../images/check.png');
}
